%table#getalkaarten
  - (1...10).each do |eenheid|
    - honderdtal = eenheid *100
    - tiental = eenheid * 10
    ="<tr><td id=\"#{honderdtal}\" class=\"getalkaart-honderdtal\">#{honderdtal}</td><td id=\"#{tiental}\" class=\"getalkaart-tiental\">#{tiental}</td><td id=\"#{eenheid}\" class=\"getalkaart-eenheid\">#{eenheid}</td></tr>"

