.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
.container
  .row
    .span4
      %p
      <b>HTML code in het midden van HAML</b>
      %form{:action => "/antwoord", :method => "post"}
        ="Vraag: #{@vraag.getalX} + #{@vraag.getalY} = "
        %input.input-mini{:type => "text", :length => "2", :name => "antwoord"}
        %p
          %button.btn{:type => "submit"} Submit
    .span4
      %h2= "Hulpmiddelen"
    .span4
      %h2= "Overzicht"
      %p= "Score: #{@score}/#{@total}"
      %p= "Tijd: #{Time.now}"
      %p= "<iframe width=\"420\" height=\"315\" src=\"http://www.youtube.com/embed/oHg5SJYRHA0?rel=0\" frameborder=\"0\" allowfullscreen></iframe>"

