- if defined? @vraag.getalX
  .span4
    %p
    %form{:action => "/antwoord", :method => "post"}
      ="Vraag: #{escape_html @vraag.getalX} #{escape_html @vraag.operator} #{escape_html @vraag.getalY} = "
      %input.input-mini{:type => "text", :length => "2", :name => "antwoord"}
      %p
        %button.btn{:type => "submit"} Submit
  .span4
    %h2= "Hulpmiddelen"
  .span4
    %h2= "Overzicht"
    %p= "Score: #{@score}/#{@total}"
    %p= "Tijd: #{Time.now}"
    %p= "<iframe width=\"420\" height=\"315\" src=\"http://www.youtube.com/embed/oHg5SJYRHA0?rel=0\" frameborder=\"0\" allowfullscreen></iframe>"
    %p
      %a{:href => "/nieuwevraag"} "Nieuwe vraag aanmaken"
- else
  .span12
    %p "Jij bent nieuw hier!"
    %a{:href => "/nieuwevraag"} "Nieuwe vraag aanmaken"