<h1>inhoud van de laatste vraag:</h1>
<p style="color: red; font-weight: bold">dit is een testpagina en dient verwijderd te worden!!</p>
  <ul>  
    <li>  
      Vraag <%= @vraag.id %>:  "<%= @vraag.getalX %>  <%= @vraag.operator %>  <%= @vraag.getalY %>", created at <%= @vraag.created_at %></li>  
  </ul>  



<a href="/">going home</a>
